$black: #121417;
$white: #FFFFFF;
$green: #4DC274;
$light-green: #D4FDE1;
$gray: #F3F5F6;
$green-gradient: linear-gradient(90deg, #4DC274 0%, #BEE8CC 100%);
$animation-delay: 0.3s;
$animation: $animation-delay ease-in-out;

$breakpoints: (
    'mobile-sm': 320px,
    'mobile': 375px,
    'tablet': 768px,
    'desktop': 1280px,
);

$outline: 1px solid tomato;

:root {
    --color-black: $black;
    --color-white: $white;
    --color-green: $green;
    --color-lightgreen: $light-green;
    --color-gray: $gray;
    --green-gradient: $green-gradient;
    --animation-delay: $animation-delay;
    --animation: $animation;
}