<section class="about" id="about">
    <div class="about-title">
        <h2 class="about-head">About <span class="about-head-span">Us</span></h2>
        <p class="about-title-p">
            We are dedicated to providing engaging and effective English language courses in a supportive and
            stimulating learning environment
        </p>
    </div>

    <ol class="about-list">
        <li class="about-item">
            <p class="about-item-p">Expert, innovative teaching staff</p>
        </li>
        <li class="about-item">
            <p class="about-item-p">Wide range of course levels and options</p>
        </li>
        <li class="about-item">
            <p class="about-item-p">Multicultural learning environment</p>
        </li>
        <li class="about-item">
            <p class="about-item-p">Comprehensive language support services</p>
        </li>
        <li class="about-item-memoji">
            <img
                srcset="./img/memoji/1x.png 1x, ./img/memoji/2x.png 2x, ./img/memoji/3x.png 3x"
                src="./img/memoji/1x.png"
                width="254"
                height="211"
                alt="Memoji"
                loading="lazy"
            />
        </li>
    </ol>
</section>
