<section class="cta" id="cta">
    <div class="cta-wrapper">
        <h2 class="cta-title">Master the <span class="cta-title-accent">Language</span> with Our English Package!</h2>

        <div class="shadow-wrapper">
            <div class="shadow1 shadow"></div>
            <div class="shadow2 shadow"></div>
            <div class="cta-content">
                <div class="content-block">
                    <h3 class="content-title">Power of English</h3>

                    <ul class="list-of-power-english">
                        <li class="p-of-list">
                            <svg class="svgs">
                                <use href="./img/icons/sprites.svg#checkmark"></use>
                            </svg>
                            <p class="paragraph">Dive into captivating lessons designed to stimulate your curiosity.</p>
                        </li>
                        <li class="p-of-list">
                            <svg class="svgs">
                                <use href="./img/icons/sprites.svg#checkmark"></use>
                            </svg>
                            <p class="paragraph">
                                Learn in a nurturing setting where every student's progress matters.
                            </p>
                        </li>
                        <li class="p-of-list">
                            <svg class="svgs">
                                <use href="./img/icons/sprites.svg#checkmark"></use>
                            </svg>
                            <p class="paragraph">
                                Experience the satisfaction of real progress as your language skills and confidence grow
                                with every session.
                            </p>
                        </li>
                    </ul>

                    <a href="#application" class="leave-application-btn">Leave an application</a>
                </div>

                <img class="img-books" alt="books" src="./img/bookstack/1x.png"
                    srcset="./img/bookstack/1x.png 1x, ./img/bookstack/2x.png 2x, ./img/bookstack/3x.png 3x"
                />
            </div>
        </div>
    </div>
</section>
