<section class="cta">
    <div class="block">
        <h3 class="header-block-inside">Master the <span class="languege-head">Language</span> with Our English Package!</h3>
        <div class="container-block">
        <div class="inside-of-block">
            <div class="all-block">
                <h3 class="h4-inside-of-block">Power of English</h3>
                <div class="list-and-button">
                    <ul class="list-of-power-english">
                        <li class="p-of-list">
                            <div>
                                <svg class="svgs">
                                    <use href="./img/icons/sprites.svg#checkmark"></use>
                                </svg>
                            </div>
                            <a class="paragraph">Dive into captivating lessons designed to stimulate your curiosity.</a>
                        </li>
                        <li class="p-of-list">
                            <div>
                                <svg class="svgs">
                                    <use href="./img/icons/sprites.svg#checkmark"></use>
                                </svg>
                            </div>
                            <a class="paragraph">Learn in a nurturing setting where every student's progress matters.</a>
                        </li>
                        <li class="p-of-list">
                            <div>
                                <svg class="svgs">
                                    <use href="./img/icons/sprites.svg#checkmark"></use>
                                </svg>
                            </div>
                            <a class="paragraph">Experience the satisfaction of real progress as your language skills and confidence grow with every session.</a>
                        </li>
                    </ul>

                    <button type="submit" name="Leave-application" class="leave-application-btn"><p>Leave application </p></button>
                </div>
            </div>
            <div class="books">
                <img src="./img/bookstack/1x.png" alt="books" class="img-tall-books">
            </div>
        </div>
        <div class="background-shdw1 shadow"></div>
        <div class="background-shdw2 shadow"></div>
        </div>
    </div>
</section>
