<section class="feedback" id="feedback">
    <div class="feedback-title">
        <h2 class="feedback-head">What our <span class="feedback-head-span">students</span> say</h2>
        <p class="feedback-p">
            Hear from our students about their learning journey with us, as they share<span class="break"
                >their experiences, progress, and the transformative impact</span
            >
        </p>
    </div>

    <ul class="feedback-card">
        <li class="feedback-item">
            <div class="feedback-item-top">
                <img
                    class="feedback-item-photo"
                    srcset="./img/feedback/anna-1x.png 1x, ./img/feedback/anna-2x.png 2x, ./img/feedback/anna-3x.png 3x"
                    src="./img/teachers/maria-1x.png"
                    width="50"
                    height="50"
                    alt="Anna photo"
                    loading="lazy"
                >
                <div class="feedback-item-top-text">
                    <p class="feedback-item-name">Anna</p>
                    <p class="feedback-item-pos">Student</p>
                </div>
            </div>
            <p class="feedback-item-desc">
                My experience at the language school has been nothing short of amazing. The teachers are dedicated and
                the learning environment is stimulating. I feel more confident in my English skills.
            </p>
        </li>

        <li class="feedback-item">
            <div class="feedback-item-top">
                <img
                    class="feedback-item-photo"
                    srcset="
                        ./img/feedback/mykhailo-1x.png 1x,
                        ./img/feedback/mykhailo-2x.png 2x,
                        ./img/feedback/mykhailo-3x.png 3x
                    "
                    src="./img/teachers/mykhailo-1x.png"
                    width="50"
                    height="50"
                    alt="Mykhailo photo"
                    loading="lazy"
                >
                <div class="feedback-item-top-text">
                    <p class="feedback-item-name">Mykhailo</p>
                    <p class="feedback-item-pos">Student</p>
                </div>
            </div>
            <p class="feedback-item-desc">
                The school offers a great balance of language theory and practical exercises. The personalized feedback
                from the teachers has helped me improve my weak areas.
            </p>
        </li>

        <li class="feedback-item">
            <div class="feedback-item-top">
                <img
                    class="feedback-item-photo"
                    srcset="
                        ./img/feedback/victoria-1x.png 1x,
                        ./img/feedback/victoria-2x.png 2x,
                        ./img/feedback/victoria-3x.png 3x
                    "
                    src="./img/teachers/victoria-1x.png"
                    width="50"
                    height="50"
                    alt="victoria photo"
                    loading="lazy"
                >
                <div class="feedback-item-top-text">
                    <p class="feedback-item-name">Victoria</p>
                    <p class="feedback-item-pos">Student</p>
                </div>
            </div>
            <p class="feedback-item-desc">
                I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a
                fun and effective way. I have definitely seen a big improvement in my language skills.
            </p>
        </li>
    </ul>
</section>
