<footer class="section footer" id="footer">
    <div class="container">
        <div class="footer-content">
            <address class="footer-contacts">
                <a class="footer-logo" href="./index.html" aria-label="English Excellence"
                    >english<span class="footer-logo-accent">excellence</span>.</a
                >
                <ul class="footer-contact-list">
                    <li class="footer-contact-item">
                        <p class="footer-contact-text">Phone number:</p>
                        <a class="footer-contact-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                    </li>
                    <li class="footer-contact-item">
                        <p class="footer-contact-text">Address:</p>
                        <a class="footer-contact-link" href="https://maps.app.goo.gl/35KEkvJ32ad1QqD36" target="_blank"
                            >32a M. Bazhana ave</a
                        >
                    </li>
                </ul>
            </address>
            <div class="footer-navigation">
                <nav>
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <a href="#about" class="footer-nav-link" aria-label="Section About us">About us</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#lessons" class="footer-nav-link" aria-label="section Our lessons">Our lessons</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#teachers" class="footer-nav-link" aria-label="section Our teachers">Teachers</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#feedback" class="footer-nav-link" aria-label="section Reviews">Reviews</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#application" class="footer-nav-link" aria-label="section Contact us"
                                >Contact us</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer-socials">
                <ul class="footer-socials-list">
                    <li class="footer-socials-item">
                        <a
                            href="https://www.facebook.com/goITclub/"
                            class="footer-socials-link"
                            aria-label="Facebook"
                            target="_blank"
                        >
                            <svg class="footer-socials-icon">
                                <use href="./img/icons/sprites.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socials-item">
                        <a
                            href="https://www.instagram.com/goitclub/"
                            class="footer-socials-link"
                            aria-label="Instagram"
                            target="_blank"
                        >
                            <svg class="footer-socials-icon">
                                <use href="./img/icons/sprites.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-socials-item">
                        <a
                            href="https://www.youtube.com/c/GoIT"
                            class="footer-socials-link"
                            aria-label="Youtube"
                            target="_blank"
                        >
                            <svg class="footer-socials-icon">
                                <use href="./img/icons/sprites.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-note">
            <p class="footer-note-copyright">&copy;2023 English Excellence. All rights reserved.</p>
            <ul class="footer-note-list">
                <li class="footer-note-item">
                    <a class="footer-note-link" href="#" aria-label="Privacy Policy">Privacy Policy</a>
                </li>
                <li class="footer-note-item">
                    <a class="footer-note-link" href="#" aria-label="Terms of Service">Terms of Service</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
