<section class="hero">
    <div class="hero-wrapper">
        <h1 class="hero-title">
            Discover the joy of learning <span class="hero-title-accent">English</span> with us!
        </h1>
        <a href="#application">
            <button class="hero-button">Leave an application</button>
        </a>
        <div class="hero-scroll-down">
            <a class="scroll-button" href="#footer">
                <svg class="scroll-icon" width="24" height="24">
                        <use href="../img/icons/sprites.svg#icon-angle-small-left"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
