<ul class="nav-items">
    <li class="nav-item">
        <a href="#about" class="nav-link">About us</a>
    </li>
    <li class="nav-item">
        <a href="#lessons" class="nav-link">Our lessons</a>
    </li>
    <li class="nav-item">
        <a href="#teachers" class="nav-link">Teachers</a>
    </li>
    <li class="nav-item">
        <a href="#feedback" class="nav-link">Reviews</a>
    </li>
    <li class="nav-item">
        <a href="#application" class="nav-link">Contact us</a>
    </li>
</ul>

<ul class="soc-items">
    <li class="soc-item">
        <a href="https://www.facebook.com/goITclub/" class="soc-link" target="_blank">
            <svg class="icon">
                <use href="./img/icons/sprites.svg#facebook"></use>
            </svg>
        </a>
    </li>
    <li class="soc-item">
        <a href="https://www.instagram.com/goitclub/ " class="soc-link" target="_blank">
            <svg class="icon">
                <use href="./img/icons/sprites.svg#instagram"></use>
            </svg>
        </a>
    </li>
    <li class="soc-item">
        <a href="https://www.youtube.com/c/GoIT" class="soc-link" target="_blank">
            <svg class="icon">
                <use href="./img/icons/sprites.svg#youtube"></use>
            </svg>
        </a>
    </li>
</ul>
