<section class="team">
    <div class="team-title">
        <h2 class="team-head">Meet our <span class="team-head-span">teachers</span></h2>
        <p class="team-title-p">
            Discover our team of dedicated educators, committed to guiding you on your journey to English proficiency
            with
            personalized and engaging instruction
        </p>
    </div>

    <ul class="team-list">
        <li class="team-item">
            <img class="team-item-photo" srcset="
                                    ./img/teachers/maria-1x.png 1x,
                                    ./img/teachers/maria-2x.png 2x,
                                    ./img/teachers/maria-3x.png 3x
                                  " src="./img/teachers/maria-1x.png" width="150" height="150" alt="Maria photo"
                loading="lazy" />
            <p class="team-item-name">Maria</p>
            <p class="team-item-p">A seasoned linguist and our primary specialist in beginner-level instruction, Maria
                brings warmth and patience to every
                class</p>
        </li>
        <li class="team-item">
            <img class="team-item-photo" srcset="
                                            ./img/teachers/artem-1x.png 1x,
                                            ./img/teachers/artem-2x.png 2x,
                                            ./img/teachers/artem-3x.png 3x
                                          " src="./img/teachers/artem-1x.png" width="150" height="150"
                alt="Artem photo" loading="lazy" />
            <p class="team-item-name">Artem</p>
            <p class="team-item-p">With his innovative teaching techniques and a focus on interactive learning, Artem
                excels in keeping students engaged
                and motivated</p>
        </li>
        <li class="team-item">
            <img class="team-item-photo" srcset="
                                                    ./img/teachers/ilona-1x.png 1x,
                                                    ./img/teachers/ilona-2x.png 2x,
                                                    ./img/teachers/ilona-3x.png 3x
                                                  " src="./img/teachers/ilona-1x.png" width="150" height="150"
                alt="Ilona photo" loading="lazy" />
            <p class="team-item-name">Ilona</p>
            <p class="team-item-p">A specialist in advanced English, Ilona provides intensive instruction, ensuring
                students gain confidence in complex
                language tasks</p>
        </li>
        <li class="team-item">
            <img class="team-item-photo" srcset="
                                                    ./img/teachers/volodymyr-1x.png 1x,
                                                    ./img/teachers/volodymyr-2x.png 2x,
                                                    ./img/teachers/volodymyr-3x.png 3x
                                                  " src="./img/teachers/volodymyr-1x.png" width="150" height="150"
                alt="Volodymyr photo" loading="lazy" />
            <p class="team-item-name">Volodymyr</p>
            <p class="team-item-p">Our expert in English for specific purposes, Volodymyr tailors his approach to meet
                individual career and
                industry-specific language needs</p>
        </li>
    </ul>
</section>
