:root {
    --color-black: #121417;
    --color-white: #FFFFFF;
    --color-green: #4DC274;
    --color-lightgreen: #D4FDE1;
    --color-gray: #F3F5F6;

    --green-gradient: linear-gradient(90deg, #4DC274 0%, #BEE8CC 100%);
    --animation-delay: 0.3s;
    --animation: 0.3s ease-in-out;

    --mobile-min-width: 320px;
    --mobile-max-width: 375px;
    --tablet-width: 768px;
    --desktop-width: 1280px;
}