.about .container {
    padding: 0 20px;
}

/* #region Title block */
.about-title {
    margin: 0 auto;
}
.about-head {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-black);
    margin-top: 0;
    margin-bottom: 16px;
}
.about-head-span {
    display: inline-block;
    position: relative;
}
.about-head-span::after {
    content: '';
    width: 100%;
    height: 12px;
    border-radius: 8px;
    background-color: #bee8cc;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.about-title-p {
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
    margin-top: 0;
    margin-bottom: 40px;
}
/* #endregion */

/* #region Grid block */
.about-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    gap: 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.about-item {
    counter-increment: count;
    padding: 32px;
    border-radius: 16px;
    width: 100%;
    height: 160px;
    background: var(--color-gray);
}
.about-item:before {
    content: counter(count);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--color-green);
}
.about-item:nth-child(-n + 9):before {
    content: '0' counter(count);
}
.about-item-p {
    margin: 16px auto 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-black);
}
.about-item-memoji {
    display: flex;
    align-items: center;
    border-radius: 16px;
    width: 100%;
    height: 313px;
    background: var(--color-green);
}
.about-item-memoji picture,
.about-item-memoji img {
    margin: 0 auto;
}
/* #endregion */

/* #region Media rules block*/
@media screen and (min-width: 768px) {
    .about-title {
        width: 704px;
    }
    .about-head {
        font-size: 40px;
        line-height: 1.2;
    }
    .about-title-p {
        font-size: 18px;
        line-height: 1.67;
        margin: 0 auto 64px;
        width: 658px;
    }
    .about-list {
        width: 704px;
        grid-template-columns: auto auto;
    }
    .about-item {
        width: 336px;
        border-radius: 32px;
    }
    .about-item-memoji {
        grid-column: 1 / span 2;
        grid-row: auto;
        height: 243px;
        border-radius: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .about-title {
        width: 1024px;
    }
    .about-list {
        width: 1024px;
        grid-template-columns: auto auto auto;
    }
    .about-item {
        width: 325px;
    }
    .about-item-memoji {
        grid-column: 3;
        grid-row: 1 / span 2;
        width: 310px;
        height: 100%;
    }
}
/* #endregion */
