.cta .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 64px;
    width: 100%;
    max-width: 335px;
    overflow: hidden;

    border-radius: 16px;
    background: var(--green-gradient);

    @media screen and (min-width: 768px) {
        max-width: 704px;
        padding: 64px 32px 93px;

        border-radius: 30px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1152px;
        padding: 64px 64px 142px;
    }
}

.cta-title {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    margin: 0 0 65px;

    @media only screen and (min-width: 768px) {
        font-size: 60px;
        max-width: 640px;
        line-height: 70px;
        margin-bottom: 84px;
    }

    @media only screen and (min-width: 1280px) {
        max-width: 776px;
        margin-bottom: 134px;
    }
}

.cta-title-accent {
    color: rgb(190, 232, 204);
}

.cta-content {
    margin: 0;
    padding: 40px 20px;

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 20px;

    background-color: var(--color-white);
    border-radius: 16px;

    @media screen and (min-width: 768px) {
        padding: 64px 32px;
        border-radius: 30px;
    }

    @media screen and (min-width: 1280px) {
        padding: 64px;
        gap: 92px;
    }
}

.content-title {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;

    @media only screen and (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 48px;
    }

    @media only screen and (min-width: 1280px) {
        margin-bottom: 40px;
    }
}

.img-books {
    display: none;

    @media only screen and (min-width: 768px) {
        display: block;
        margin-right: -80px;
    }

    @media only screen and (min-width: 1280px) {
        margin-right: -64px;
    }
}

.list-of-power-english {
    margin: 0 auto 20px;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
    }
}

.p-of-list {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: start;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
    }
}

.svgs {
    display: block;
    fill: rgba(77, 194, 116, 1);
    color: rgba(77, 194, 116, 1);
    max-width: 20px;
    max-height: 20px;

    @media screen and (min-width: 768px) {
        max-width: 28px;
        max-height: 28px;
    }
}

.paragraph {
    margin: 0;
    margin-left: 8px;

    @media only screen and (min-width: 768px) {
        margin-left: 16px;
    }
}

.leave-application-btn {
    display: block;
    width: 100%;
    padding: 14px 27px;
    background-color: var(--color-green);
    border-radius: 12px;
    border: none;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-decoration: none;

    transition: background-color var(--animation);

    @media only screen and (min-width: 768px) {
        max-width: 306px;
        padding: 16px 32px;
        font-size: 18px;
        line-height: 28px;
    }
}

.leave-application-btn:hover,
.leave-application-btn:focus {
    background-color: rgba(56, 174, 95, 1);
}

.shadow-wrapper {
    position: relative;
    display: block;
    z-index: 1;

    @media screen and (min-width: 768px) {
        margin-left: -14px;
        margin-right: -14px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: block;
    border-radius: 16px;

    z-index: -1;

    @media screen and (min-width: 768px) {
        border-radius: 30px;
    }

    @media screen and (min-width: 1280px) {
        padding: 64px;
    }
}

.shadow1 {
    background-color: rgba(255, 255, 255, 0.5);
    transform: rotate(11deg);
}

.shadow2 {
    background-color: var(--color-lightgreen);
    transform: rotate(-9deg);
}
