/* #region Upper */
.feedback-title {
    margin: 0 auto;
    margin-bottom: 40px;
}
.feedback-head {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-black);
    margin-top: 0;
    margin-bottom: 16px;
}
.feedback-head-span {
    display: inline-block;
    position: relative;
}
.feedback-head-span::after {
    content: '';
    width: 100%;
    height: 12px;
    border-radius: 8px;
    background-color: #bee8cc;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.feedback-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
    margin-top: 0;
}
/* #endregion Upper */
/* #region Feedback card */
.feedback-card {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.feedback-item {
    list-style-type: none;
    margin: 0;
    padding: 20px 20px 40px 20px;
    max-width: 336px;
    border-radius: 16px;
    background: var(--color-gray);
}
.feedback-item:nth-child(2),
.feedback-item:nth-child(3) {
    display: none;
}
.feedback-item-top {
    border-radius: 8px;
    background: #4dc274;
    display: flex;
    gap: 8px;
    padding: 14px;
    align-items: center;
    margin-bottom: 20px;
}
.feedback-item-photo {
    display: block;
    max-width: 100%;
}
.feedback-item-name {
    color: var(--color-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 0;
}
.feedback-item-pos {
    color: rgba(255, 255, 255, 0.5);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    margin: 0;
}
.feedback-item-desc {
    color: rgba(18, 20, 23, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    margin: 0;
    padding: 0 14px;
}
/* #endregion Feedback Card */
/* #region Media queries */
@media screen and (min-width: 768px) {
    .feedback-title {
        margin-bottom: 64px;
    }
    .feedback-head {
        font-size: 40px;
        line-height: 1.2;
    }
    .feedback-head-span::after {
        height: 20px;
        bottom: -2px;
    }
    .feedback-p {
        display: block;
        width: 647px;
        margin-left: auto;
        margin-right: auto;

        font-size: 18px;
        line-height: 1.67;
    }
    .feedback-item {
        border-radius: 30px;
        max-width: 335px;
        padding: 32px 16px 40px 16px;
    }
    .feedback-item:nth-child(2) {
        display: list-item;
    }
    .feedback-item-top {
        border-radius: 15px;
        margin-bottom: 32px;
        padding: 14px 16px;
    }
    .feedback-item-desc {
        font-size: 16px;
        line-height: 1.5;
        padding: 0 16px;
    }
}
@media screen and (min-width: 1280px) {
    .feedback-item:nth-child(3) {
        display: list-item;
    }
    .feedback-item {
        max-width: 320px;
    }
}
/* #endregion Media queries */
