/* #region Title block */
.team-title {
    margin: 0 auto;
}
.team-head {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-black);
    margin-top: 0;
    margin-bottom: 16px;
}
.team-head-span {
    display: inline-block;
    position: relative;
}
.team-head-span::after {
    content: '';
    width: 100%;
    height: 12px;
    border-radius: 8px;
    background-color: #bee8cc;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.team-title-p {
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
    margin-top: 0;
    margin-bottom: 40px;
}
/* #endregion */

/* #region Grid block */
.team-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    gap: 40px;
    justify-content: center;
    align-content: center;
    align-items: start;
}
.team-item {
    display: inline-table;
    padding: 0;
    width: 100%;
    height: 269px;
    background: transparent;
}
.team-item-photo {
    margin: 0 auto 16px;
    display: block;
}
.team-item-name {
    margin: 0 auto 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-black);
}
.team-item-p {
    margin: 0 auto;
    text-align: center;
    color: rgba(18, 20, 23, 0.5);
}
/* #endregion */

/* #region Media rules block*/
@media screen and (min-width: 768px) {
    .team-title {
        width: 704px;
    }
    .team-head {
        font-size: 40px;
        line-height: 1.2;
    }
    .team-title-p {
        font-size: 18px;
        line-height: 1.67;
        margin: 0 auto 64px;
    }
    .team-list {
        width: 704px;
        padding: 0 64px;
        gap: 32px;
        grid-template-columns: auto auto;
    }
    .team-item-p {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1280px) {
    .team-title {
        width: 1024px;
    }
    .team-title-p {
        width: 709px;
    }
    .team-list {
        width: 1024px;
        padding: 0;
        grid-template-columns: auto auto auto auto;
    }
}
/* #endregion */
